<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tianjyan.luban.host">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application android:name=".LBApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/FullScreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".plugin.ip.activity.InParaDetailActivity" />
        <activity android:name=".plugin.logcat.activity.CrashDetailActivity" />
        <activity android:name=".plugin.op.activity.OutParaDetailActivity" />
        <service android:name=".plugin.logcat.FCService"/>
        <service
            android:name=".LBService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="org.tianjyan.luban.service"
                    android:exported="true" />
            </intent-filter>
        </service>
    </application>

</manifest>
